#about {
    background-color: $secondary;
    color: #fff;
    padding: 40px 15px 43px;
    ul {
        list-style: none;
        padding-bottom: 20px;
        li, li a {
            font-size: .8125rem;
            line-height: 1.375rem;
        }
        li a:hover {
            text-decoration: underline;
        }
    }
    h4 {
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 24px;
        font-weight: 400;
    }
    .footer-links {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .small-print {
        border-top: 1px solid #888;
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 10px;
        .socials, .copyright, .copyright a {
            display: flex;
            font-size: .8125rem;
            align-items: flex-start;
            line-height: 1.42857143;
        }
        .copyright {
            padding-top: 11px;
            a:hover {
                text-decoration: underline;
            }
        }
        .socials {
            justify-content: flex-end;
            a {
                width: 37px;
                height: 37px;
                text-decoration: none;
                color: white;
                border-radius: 50%; 
            }
            
            i {
                height: 15px;
                width: 15px;
                border-radius: 50%;
                margin: 11px 11px;
            }
        }
        .copyright > span {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}
@each $key, $color in $socials {
    $i: index($socials, $key $color);
    .socials a:nth-of-type(#{$i}) {
        &:hover {
            background-color: $color;
        }
    }
}
@media (min-width: 768px) {
    .footer-links {
        width: 750px;
        margin: 0 auto;
        .flex-col {
            width: 100%;
        }
        .flex-item {
            width: 225px;
            flex: none;
        }
        .services, .offices {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-evenly;
            
        }
        .socials, .copyright {
            align-items: center;
        }
        
    }
    .copyright br {
        display: none;   
    }
    .small-print {
        width: 750px;
        margin: 0 auto;
    }
}
@media (min-width: 992px) {
    .footer-links {
        width: 970px;
    }
    .small-print {
        width: 970px;
    }
}
@media (min-width: 1260px) {
    .footer-links {
        width: 1200px;
        .flex-col {
            flex-direction: row;
            .services {
                justify-content:flex-start;
            }
        }
    }
    .small-print {
        width: 1200px;
    }
}