#about {
    background-color: #333645;
    color: #fff;
    padding: 40px 15px 43px;
    letter-spacing: .4px;
    ul {
        list-style: none;
        padding-bottom: 25px;
        li {
            font-size: .8125rem;
            line-height: 1.375rem;
        }
    }
    h4 {
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 24px;
        font-weight: 400;
    }
    .footer-links {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .small-print {
        border-top: 1px solid #888;
        .flex-row {
            margin-top: 15px;
            align-items: flex-start;
            .flex-item {
                font-size: .8125rem;
                display: inline;
                line-height: 1.42857143;
                &:nth-of-type(2):before{
                    content: "-";
                    padding: 0 10px;

                }
            }
        }
        .socials {
            display: flex;
            justify-content: space-between;
        }
    }
}