.mobile-header {
    background-color: #333645;
    margin-bottom: 50px;
    h1 {
        color: white;
        max-width: 750px;
        margin: 0 auto;
        padding: 24px 15px;
        text-transform: none;
    }
}

.bc-container {
    display: none;
}

.offices-container {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    .office-card {
        margin-bottom: 30px;
        border: 1px solid #ccc;
        border-radius: 3px;
        .office-img {
            a {
                img {
                    max-width: 100%;
                }
            }
        }
        .office-info {
            padding: 30px;
            h4 {
                margin: 0 0 15px;
                text-transform: none;
                a {
                    color: #333645;
                    text-decoration: none;
                    font-weight: 400;
                    font-size: 1.125rem;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            p {
                font-size: .8125rem;
                line-height: 1.375rem;
                font-weight: 400;
                margin-bottom: 15px;
                color: #666;
            }
            .tel {
                a {
                    font-weight: 700;
                    color: #926fb1;
                    font-size: 1.625rem;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .btn {
                margin-top: 15px;
                padding: 5px 25px;
                background-color: #926fb1;
                border: 1px solid #926fb1;
                height: 47px;
                width: 144px;
                a {
                    color: #fff;
                    line-height: 35px;
                    font-size: .9rem;
                }
            }
        }
        .office-map {
            height: 300px;
        }
    }
}

.contact-text {
    padding:0 15px;
    p {
        font-weight: 600;
        color: #333645;
        margin: 0px 0 35px;
    }
    .contact-email {
        color: #926fb1;
        font-size: 1.625rem;
    }
}

.ooh {
    padding:0 15px;
    p {
        margin: 0px 0 25px;
    }
    .ooh-link {
        font-weight: 600;
        color: #333645;
        margin-bottom: 30px;
        &:hover, &:focus {
            text-decoration: underline;
        }
    }
    .ooh-dropdown {
        display: none;
        p {
            line-height: 1.875rem;
            margin-bottom: 25px;
            color: #666;
            padding: 0 1px;
        }
        .ooh-bold {
            font-weight: 600;
            color: #333645;
        }
    }
}

.contact-form {
    form {
        background-color: #e6e7e9;
        border-radius: 10px;
        padding: 30px 30px 5px;
        margin: 0 15px 50px;
        &:nth-child(1) {
            display:flex;
            flex-direction: column;
        }
        fieldset label {
            font-weight: 600;
            color: #333645;
            margin: 5px 0;
            line-height: 1.42857143;

            &::after {
                content: " *";
                color: #d24d57;
            }
        }

        input, textarea {
            height: 47px;
            padding: 5px 15px;
            border-color: #ccc;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            border-radius: 2px;
            box-shadow: inset 0 0px 2px rgba(0, 0, 0, 8%);
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            margin-bottom: 10px;

            &:focus {
                border-color: #5bc0de;
                outline: 0;
                box-shadow: inset 0 0px 2px rgba(0, 0, 0, 8%), 0 0 8px rgba(91, 192, 222, 60%);
            }
        }
        
        textarea {
            min-height: 100px;
            height: 100px;
        }

        input, textarea {
            &:required:valid {
                border-color: none;
            }
            &:required:invalid:not(:placeholder-shown) {
                border-color: #c00000;
            }
            &:valid {
                border-color: none;
            }
        }

        fieldset, input[type=checkbox] {
            border: none;
            box-shadow: none;
        }
        fieldset {
            display: flex;
            flex-direction: column;
            margin: 5px 0 25px;
            label:nth-of-type(1){
                line-height: 32px;
                margin: 0px 0;
                cursor: pointer;

                a {
                    text-decoration: underline;
                    color: #333645;
                    &:hover {
                        color: #121419;
                    }
                }
            }
            input[type=checkbox] {
                flex: 1 0 auto;
                -moz-appearance:none;
                -webkit-appearance:none;
                -o-appearance:none;
                border-radius: 3px;
                border: 3px solid $secondary;
                height: 32px;
                width: 32px;
                position: relative;
                float: left;
                margin-right: 20px;
                background-color: inherit;
                &:checked {
                    background-color: $secondary;
                    &:before {
                        content: url('https://api.iconify.design/charm/tick.svg?color=white&width=25&height=25');
                        position: absolute;
                        left: 3px;
                        top: 0;
                    }
                }
            }

            #submit {
                color: #fff;
                background-color: #926fb1;
                border: 1px solid #926fb1;
            }
        }
    }
}

@media (min-width: 768px) {
    .bc-container {
        display: block;
        margin: 0 auto;
        border-top: 1px solid #333645;
        .breadcrumbs {
            padding: 14px 15px 13px;
            max-width: 750px;
            margin: 0 auto;
            color: #333645;
            font-size: .8125rem;
            line-height: 1.42857143;
            a {
                color: #333645;
                font-size: .8125rem;
                line-height: 1.42857143;
                font-weight: 700; 
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .offices-container {
        width: 750px;
        margin: 0 auto;
    }
    .contact-form, .contact-text, .ooh {
        width: 750px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 992px) {
    .mobile-header {
        background-color: #fff;
        margin-bottom: 5px;
        h1 {
            color: #333645;
            max-width: 970px;
        }
    }
    .bc-container {
        box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
        .breadcrumbs{
            max-width: 970px;
        }
        
    }
    .offices-container {
        width: 970px;
        flex-direction: row;
        gap: 30px;
        .office-card {
            width: 33%;
        }
    }
    .contact-form, .contact-text, .ooh {
        width: 970px;
    }
    .contact-form {
        form {
            display: flex;
            flex-wrap: wrap;
            column-gap: 30px;
            .checkbox {
                flex-direction: row;
                margin-bottom: 35px;
            }
            fieldset {
                margin: 0px;
                &:last-of-type {
                    margin-bottom: 30px;
                }
            }
            
        }
        form:nth-child(1) {
            flex-direction: row;
            justify-content: space-between;
            .top {
                width: 48%;
            }
            .bottom {
                width: 100%;
            }
        }
    }
}
@media (min-width: 1260px) {
    .mobile-header {
        h1 {
            max-width: 1200px;
        }
    }
    .bc-container {
        .breadcrumbs{
            max-width: 1200px;
        }
    }
    .offices-container {
        width: 1200px;
    }
    .contact-form, .contact-text, .ooh {
        width: 1200px;
    }
}