#culture {
    color: white;
    background: $secondary;
    letter-spacing: .4px;
    h2 {
        font-size: 2.25rem;
        font-weight: 400;
        margin: 0 0 28px;
        text-transform: uppercase;
        line-height: 1.1;
        margin-top: -6px;
    }
    p {
        line-height: 1.875rem;
        margin-bottom: 25px;
        font-weight: 400;
    }
    p:first-of-type{
        font-weight: 600;
    }
    .btn {
        background-color: white;
        border-radius: 3px;
        border: 1px solid transparent;
        color: $secondary;
        display: inline-block;
        font-weight: 400;
        letter-spacing: 0.4px;
        text-align: center;
        height: auto;
        line-height: 35px;
        padding: 5px 15px;
        text-transform: uppercase;
        font-size: 1.063rem;
        &:hover {
            background-color: #ebebeb;
        }
        .fa-regular {
            margin-left: 12px;
            margin-right: -4px;
            font-size: 1.25rem;
            font-weight: 600;
            line-height: 35px;
        }
    }
}

@media (min-width: 768px) {
    .width {
        width: 750px;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (min-width: 992px) {
    #culture {
        background-image: url(../img/branded.png);
        background-repeat: no-repeat;
        background-position: 100%;
        .width {
            h2 {
                font-size: 2.25rem;
            }
        }
    }
    .width {
        width: 970px;
        
    }
}
@media (min-width: 1260px) {
    #culture {
        background-size: auto 100%;
        p {
            font-size: 1rem;
        }
    }
    .width {
        width: 1200px;
        margin: 0 auto;
        padding-left: 15px;
        h2, p {
            width: 49%;
            margin: 0;
        }
        
    }
}