@media (min-width: 768px) {
    .footer-links {
        width: 750px;
        margin: 0 auto;
        .flex-col {
            width: 100%;
        }
        .flex-item {
            width: 225px;
            flex: none;
        }
        .services, .offices {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-evenly;
            
        }
    }
}
@media (min-width: 992px) {
    .footer-links {
        width: 970px;
    }
}
@media (min-width: 1260px) {
    .footer-links {
        width: 1200px;
        .flex-col {
            flex-direction: row;
            .services {
                justify-content:flex-start;
            }
        }
    }
}