@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// ===========================================
// ================== RESET ==================
// ===========================================
* {
    font-family: 'Poppins', sans-serif; 
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
}


// ===========================================
// ======== Commmon Elements & Classes =======
// ===========================================

h2 {
    font-size: 3rem;
}

button {
    text-transform: uppercase;
    padding: 5px 15px;
    line-height: 35px;
}

.hidden {
    display: none;
}

.br {
    border-radius: 3px;
}

.debug {
    border: 2px solid red;
}

.col-pad, .search-pad {
    padding: 20px 15px;
}

.section-pad {
    padding: 50px 15px;
    margin: 0 auto;
}

.vh {
    height: 100vh;
}
// ===========================================
// ============== Site Structure =============
// ===========================================

.wrapper {
    width: 100%;
}
.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-item {
    flex: 1;  
    display: flex;
    flex-direction: column;
}






