@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// ===========================================
// ================== RESET ==================
// ===========================================
* {
    font-family: 'Poppins', sans-serif; 
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
    letter-spacing: .4px;
    line-height: 1.1;
}

//***** Debugging Class *****//
.debug {
    border: 2px solid red;
}

body {
    overflow: auto;
}

//***** Backgrounds for production *****//
body {
    background-color: red;
}

#services, #news, .latest, #clients, #accreditations {
    background-color: #fff;
}

.wrapper {
    overflow: auto;
}
// ===========================================
// ============= Commmon Elements ============
// ===========================================

//***** Headers *****//
h1, h2, h3, h4 {
    font-weight: 400;
}
h2, h3, h4 {
    margin: 0 0 15px;
}
h1, h2, h4 {
    text-transform: uppercase;
}
h3 {
    text-transform: capitalize;
}
h1 {
    font-size: 2.25rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 1rem;
}

//***** Text *****//
p {
    margin: 0 0 25px;
}

//***** Lists *****//
ul {
    list-style: none;
    margin-bottom: 10px;
    li {
        display: list-item;
    }
}

//***** Links *****//
a {
    text-decoration: none;
    color: inherit;
}

//***** Buttons *****//
.btn {
    text-transform: uppercase;
    padding: 5px 15px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 1.063rem;
}

//***** Images *****//


//***** Cursor *****//
.btn {
    cursor: pointer;
}


// ===========================================
// ============== Site Structure =============
// ===========================================
.vh {
    min-height: 100vh;
}

.hidden {
    display: none;
}

.wrapper {
    width: 100%;
}
.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-item {
    flex: 1;  
    display: flex;
    flex-direction: column;
}

.col-pad, .search-pad {
    padding: 20px 15px;
}

.section-pad {
    padding: 50px 15px;
    margin: 0 auto;
}

.x-pad {
    padding-left: 20px;
    padding-right: 20px;

}

// ===========================================
// ============== Breakpoints =============
// ===========================================
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1260px) {

}