@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// ===========================================
// ================== RESET ==================
// ===========================================
* {
    font-family: 'Poppins', sans-serif; 
    padding: 0;
    margin: 0;
    font-size: 16px;
}


// ===========================================
// ======== Commmon Elements & Classes =======
// ===========================================

h1 {
    font-size: 3rem;
}

button {
    text-transform: uppercase;
    padding: $base-padding;
    line-height: 35px;
}

.hidden {
    display: none;
}

.br {
    border-radius: 3px;
}

.debug {
    border: 2px solid red;
}


// ===========================================
// ============== Site Structure =============
// ===========================================

.wrapper {
    width: 100%;
}
.flex-container {
    display: flex;
    flex-direction: column;
    background-color: map-get($colors, "primary");
    height: 100vh;
    justify-content: center;
}

.flex-item {
    flex: 1;  
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    padding: $base-padding;
    align-items: center;
}




