header {
    height: 168px;
    background-color: #fff;
    form.btm-search {
        margin-top: 11px; 
     }
}

.top-row {
    &:nth-child(1n) {
        &:first-child {
            flex: 1;
        }
    }
    img {
        max-width: 402px;
        width: 100%;
    }
    .phone {
        max-width: auto;
        max-height: auto;
        align-items: self-end;
        margin-left: 15px;
        margin-right: 20px;
    }
    .menu {
        max-width: 83px;
        max-height: 70px;
        align-items: self-end;
        padding: 7px 0;

        .btn {
            width: 63px;
            height: 56px;
            background-color: #333645;
            border-color: #333645;
            border-radius: 3px;
            padding-top: 5px;
            padding-bottom: 5px;
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: space-around;
            .menu-line {
                height: 3px;
                width: 33px;
                background-color: white;
            }

            .menu-text {
                color: white;
                font-size: 0.75rem;
                line-height: 1;
                top: 3px;
                position: relative;
            }
        }
    }
    .top-search, .contact-btn, .support-btn {
        display: none;
    }
}

#search {
    background-color: #E5E5E5;
    border: 2px solid rgba(0,0,0,.1);
    border-right: none;
    box-shadow: inset 0 0.875px rgba(0,0,0,.1);
    height: 47px;
    border-radius: 3px 0 0 3px;
    font-size: 0.875rem;   
    position: relative; 
    input {
        width: 100%;
        color: #666;
    }
}
.search-btn {
    max-width: 46px;
    background-color: #E5E5E5;
    border: 2px solid rgba(0,0,0,.1);
    border-left: none;
    box-shadow: inset 0 0.875px rgba(0,0,0,.1);
    height: 47px;
    position: absolute;
    right: 15px;
    .fa-solid {
        font-size: 1.29rem;
        line-height: 2rem;
        color: #333645;
        font-weight:600;
        margin: auto;
    }
}

@media (min-width: 768px) {
    header {
        height: 110px;
        width: 750px;
        margin: auto;
        .top-row{ 
            > div {
                flex: 1;
            }
            &:first-child {
                align-items: start;
            }
            .top-search {
                display: flex;
            }
            .flex-row {
                justify-content: flex-end;
            }
        }
        img {
            padding: 0 15px 0 0;
            vertical-align: middle;
        }
        .phone {
            display: none;
        }
        .top-search {
            display: flex;
            flex: 1;
            margin-left: 20px;
            justify-content: end;
            align-items: center;
            input {
                width: 174px;
                height: 56px;
                padding: 5px 15px;
                border: 1px solid #ccc;
                box-shadow: inset 0 0.875px rgba(0,0,0,.1);
                font-size: 14px;
                line-height: 1.42857143;
                letter-spacing: 0;
            }
            
            .btn {
                padding: 0px 20px 0px;
                height: 56px;
                font-size: 0.825rem;
                border-radius: 0 3px 3px 0;
                border: none;
                vertical-align: bottom;
                background-color: #999aa2;
                color: #fff;
                .fa-regular {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: #fff;
                    width: 23px;
                    height: 23px;
                    margin: auto;
                }
            }
        }
    }
    form.btm-search {
        display: none;
    }
}

@media (min-width: 992px) {
    header {
        width: 970px;
        .top-search {
            flex: 0;
            input {
                display: none;
            }
            .btn {
                border-radius: 3px;
            }
        }
        .top-row {
            img {
                padding-right: 18px;
            }
            > .flex-item{
                flex: 5;
            }
            > .flex-row {
                flex: 7;
            }
            .flex-row {
                justify-content: end;
                .menu {
                    //margin-left: 20px;
                }
                .contact-btn, .support-btn {
                    display: flex;
                    height: 56px;
                    line-height: 45px;
                    font-size: 1.125rem;
                    text-transform: uppercase;
                    padding: 5px 15px 5px 15px;
                    color: #fff;
                    border-color: #999aa2;
                    margin-left: 20px;
                    i {
                        font-size: 1.438rem;
                        line-height: 45px;
                        margin-right: 5px;
                    }
                }
                .support-btn {
                    background-color: #4183d7;
                    border: 1px solid #4183d7;
                    i {
                        margin: 0 8px 0 6px;
                        font-size: 1.2rem;
                    }
                }
                .contact-btn {
                    background-color: #999aa2;
                    border: 1px solid #999aa2;
                }
            }
        }
    }
}
@media (min-width: 1260px) {
    header {
        width: 1200px;
        .top-search {
            //flex: 0;
            input {
                display: flex;
                width: 240px;
            }
            .btn {
                flex:0; 
            }
        }
        .top-row {
            > .flex-item{
                flex: 4;
            }
            > .flex-row {
                flex: 8;
            }
        }
    }
}