.slick-initialized .slick-slide {
    display: flex;
}
.slick-dots {
    bottom: 42px;
    li.slick-active button:before {
        width: 11px;
        height: 11px;
        background-color: #ffffff;
        opacity: 1;
        border-radius: 30px;
        //margin: 0 15px;
        font-size: 0px;
        outline: 2px solid white;
        outline-offset: 4px;
    }
    li button:before {
        width: 11px;
        height: 11px;
        background-color: #ffffff;
        opacity: 0.5;
        border-radius: 30px;
        //margin: 0 15px;
        font-size: 0px;
    }
}

#slider .jumbo { 
    position: relative;
    border-top: 1px solid rgba(51,54,69,.5);
    min-height: 490px;
    img {
        object-fit: cover;
        height: calc(100vh - 168px);
        min-height: 490px;
    }
    .overlay {
        text-align: center;
        position: absolute;
        width: 100%;
        height: 100%;
        background: 
        linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.4) 100%);
        display: flex;
        align-items: center;
        .jumbo-content {
            color: white;
            padding: 0 15px;
            margin: auto;
            h2 {
                font-weight: 400;
                font-size: 3rem;
                text-transform: uppercase;
                line-height: 3.3rem;
                margin-bottom: 25px;
                letter-spacing: 0.4px;
            }
            p {
                font-size: 1.25rem;
                line-height: 2.25rem;
                margin-bottom: 35px;
                letter-spacing: 0.4px;
            }
            
            .btn {
                border-radius: 3px;
                border: 1px solid transparent;
                color: white;
                display: inline-block;
                line-height: 50px;
                text-transform:uppercase;
                height: auto;
                padding: 5px 20px;
                font-weight: 400;
                letter-spacing: 0.4px;
                text-align: center;
                vertical-align: middle;
                height:auto;
                font-size: 1.25rem;
                .fa-regular {
                    margin-left: 12px;
                    margin-right: -4px;
                    font-size: 1.25rem;
                    font-weight: 600;
                    line-height: 50px;
                }
            }
        }
        .dots {
            position: absolute;
            bottom: 51px;
            li {
                width: 11px;
                height: 11px;
                background-color: #ffffff;
                opacity: 0.5;
                border-radius: 30px;
                margin: 0 10px;
            }
            li.active {
                outline: 2px solid white;
                outline-offset: 5px;
                background-color: white;
                opacity: 1;
            }
        }
    }
}
@each $service, $name in $services{
    $i: index($services, $service $name) + 1;
    .jumbo:nth-of-type(#{$i}) .overlay .jumbo-content .btn {
        background-color:$name;
        &:hover {
            background-color: darken($name, 10%);
        }
    }
}

@media (min-width: 768px) {
    #slider .jumbo img {
        height: calc(100vh - 100px);
    }
    .slick-dots {
        bottom: 50px;
    }
}

@media (min-width: 992px) {
    #slider .jumbo {
        img {
            height: calc(100vh - 210px);
        }
        .overlay {
            text-align: left;
            align-items: start;
            background: linear-gradient(270deg,transparent 25%,#000);
            .jumbo-content {
                width: 970px;
            }
            .dots {
                align-self: center;
            }
        }
    }
    .slick-dots {
        bottom: 42px;
        li {
            margin: 0 5px;
        }
    }
}
@media (min-width: 1260px) {
    #slider .jumbo {
        .overlay {
            .jumbo-content {
                width: 1200px;
            }
        }
    }
    .slick-dots {
        li {
            margin: 0 6px;
        }
    }
}