/****************************************/
/*********** General Stylings ***********/
/****************************************/
#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 275px;
    background: #333645;
    z-index: -1;
    color: white;
    text-transform: uppercase;
    text-align: center;
    overflow-y: scroll;

    #mobile-nav {
        list-style: none;
        display: flex;
        flex-direction: column;
        > li {
            margin-top: 20px;
            padding: 0 20px;
            > a {
                font-size: 1.125rem;
                line-height: 25.7143px;
                padding: 19px 0 18px;
                border-radius: 3px;
                outline: 1px solid rgba(0,0,0,.25);
                border: 1px solid hsla(0,0%,100%,.1);
                display: block;
                .iconify {
                    padding-bottom: 1px;
                    font-size: 1.45rem;
                }
                small {
                    display: block;
                    font-size: .625rem;
                    padding-bottom: 1px;
                }
            }
            ul {
                margin-top: 20px;
                list-style: none;
                border-radius: 3px;
                li {
                    background-color: rgba(0,0,0,.25);
                    a {
                        border-top: 1px solid rgba(255, 255, 255, 0.05);
                        display: block;
                        padding: 10px;
                        line-height: 1.4285rem;
                    }
                    &:not(:first-child) {
                        border-top: 1px solid rgba(0, 0, 0, 0.45);
                    }
                }
            }
        }
    }

    #sidebar-nav {   
        margin-bottom: 0px;
        .services {
            display: none;
        }
        > li {
            border-top: 1px solid hsla(0,0%,100%,.1);
            border-bottom: 1px solid rgba(0,0,0,.25);
            a {
                padding: 20px;
                display: block;
                text-align: left;
                line-height: 16px;
            }
            ul {
                margin-bottom: 0;
                li {
                    border-top: 1px solid rgba(0,0,0,.45);
                    display: block;
                    a {
                        border-top: 1px solid hsla(0,0%,100%,.05);
                        display: block;
                        font-size: .875rem;
                        line-height: 20px;
                        padding: 15px 20px;
                        background-color: rgba(0,0,0,.25);
                        &::before {
                            content: "\BB";
                            padding-right: 18px;
                        }
                    }
                }
            }
        }
    }
}

@each  $service, $name in $services{
    $i: index($services, $service $name);
    #sidebar #mobile-nav li:nth-of-type(#{$i+1}) a .iconify {
        color: $name;
    }
}

.menu-overlay {
    position: fixed;
    //top: 0;
    left: 0;
    width: calc(100vw - 275px);
    height: 100vh;
    background-color: black;
    opacity: 0;
    z-index: 100;
    display: none;
}

/****************************************/
/************** Animations **************/
/****************************************/
.abs-line {
    //justify-content: end !important;
    top: 15px !important;
}
.spin-out {
    position: absolute;
    top: 45px;
    animation: spin-out 0.4s linear forwards;
}
.spin-in {
    animation: spin-in 0.4s linear backwards;
}
.extra-spin {
    animation: extra 0.1s linear forwards;
}
.extra-unspin {
    animation: unextra 0.1s linear forwards;
}

@keyframes spin-out { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(405deg); 
    }
}
@keyframes spin-in { 
    from { 
        transform: rotate(405deg); 
    } to { 
        transform: rotate(0deg); 
    }
}

@keyframes extra {
    from {
        transform: rotate(405deg);
    }
    to {
        transform: rotate(495deg);
    }
}

@keyframes unextra {
    from {
        transform: rotate(495deg);
    }
    to {
        transform: rotate(405deg);
    }
}

.left {
    position: absolute;
    animation: s-left 0.5s forwards;
}
.close {
    animation: s-right 0.5s forwards;
}

@keyframes s-left {
    from {
        right: 0px;
        filter: brightness(100%);
    }
    to {
        right: 275px;
        filter: brightness(50%);
    }
}

@keyframes s-right {
    from {
        right: 275px;
        filter: brightness(50%);
    }
    to {
        right: 0px;
        filter: brightness(100%);
    }
}



/****************************************/
/************ Media Queries  ************/
/****************************************/
@media (min-width: 992px) {
    #sidebar {
        width: 350px;
        #mobile-nav {
            display: none;
        }
        #sidebar-nav .services {
            display: block;
        }
    }
    
    @keyframes s-left {
        from {
            right: 0px;
            filter: brightness(100%);
        }
        to {
            right: 350px;
            filter: brightness(50%);
        }
    }
    
    @keyframes s-right {
        from {
            right: 350px;
            filter: brightness(50%);
        }
        to {
            right: 0px;
            filter: brightness(100%);
        }
    }
}
