.full-width {
    box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.1);
}
.latest {
    padding: 0px 15px;
    h3 {
        padding: 40px 0;
        color: $secondary;
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 24px;
        position: relative;
        letter-spacing: 0.4px;
        
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $secondary;
            height: 5px;
            width: 72px;
        }
    }
}
#news {
    padding-top: 10px;
}
#news .card { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    color: $secondary;
    font-weight: 400;
    letter-spacing: .4px;
    
    .card-image 
    {
        position: relative;
        border-bottom: 1px;
        height: 100%;
        width: 100%;
        flex-basis: content;
        img {
            width: 100%;
            border-radius: 3px 3px 0 0;
            display: block;
        }
        .tag {
            background-color: #4183d7;
            position: absolute;
            top: 10px; 
            right: 0px;
            z-index: 1;            
            color: white;
            text-transform: uppercase;
            font-size: .75rem;
            padding: 0 10px;
            line-height: 1.438rem;
            font-weight: 900;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .flex-col {
        justify-content: space-between;
    }
    .card-body { 
        padding: 20px 30px;
        border: 1px solid lightgrey;
        border-top: 0;
        border-bottom: 0;
        border-radius: 0 0 3px 3px;
        flex-grow: 1;
        hr {
            border:1px solid #ccc;
        }
    }
    .card-footer {
        border: 1px solid lightgrey;
        border-top: 0;
        border-radius: 3px;
        padding: 10px 30px 30px;
        width: 100%;
        img {
            border-radius: 50%;
            float: left;
            margin-right: 20px;
        }
        span { 
            padding-left: 20px;
            font-size: .875rem;  
            display: block; 
            &:first-of-type {
                font-weight: 600;
                color: $secondary;
            }
        }
        
    }
    h4 {
        font-size: 1rem;
        line-height: 1.5rem;            
        padding: 10px 0;
        font-weight: 600;
        color: #4183d7;
        text-transform: capitalize;
        &:hover {
            text-decoration: underline;
        }
    }
    p {    
        font-size: .8125rem;
        line-height: 1.375rem;
        font-weight: 400;
        margin-top: 5px;
        margin-bottom: 25px;
        color: #666;
    }
    .button {
        background-color: #4183d7;
        color: white;
        border: 1px solid #4183d7;
        border-radius: 3px;
        font-weight: 500;
        font-size: 1.063rem;
        letter-spacing: .4px;
        line-height: 35px;
        text-transform:uppercase;
        text-decoration: none;
        padding: 5px 15px;
        text-align: center;
        display: inline-block;
        margin-bottom: 30px;
        &:hover {
            background-color: #2a6ec6;
        }
    }
}

#news .card:nth-of-type(2){
    .card-image .tag, .button { 
        background-color: #d64541;
        border:#d64541;
    }
    .button {
        &:hover {
        background-color: darken(#d64541, 10%);
        }
    }
    h4 {
        color:#d64541;
    }
}
#news .card:nth-of-type(3) {
    .card-image .tag, .button {
        background-color: #926fb1;
        border:#926fb1;
    }
    .button {
        &:hover {
        background-color: darken(#926fb1, 10%);
        }
    }
    h4 {
        color:#926fb1;
    }
}

@media (min-width: 768px) {
    .latest {
        width: 750px;
        margin: 0 auto;
    }
    #news {
        width: 750px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
        align-items: stretch;
        .card {
            flex-basis: calc(50% - 15px);
            .card-image {
                flex-basis: 199px;
                overflow: hidden;
            }
            .card-body {
                h3 {
                    min-height: 3rem;
                }
                p {
                    min-height: 66px;
                    margin-bottom: 25px;
                }
            }
        }
        > :last-child {
            display: none;
        }
    }
}
@media (min-width: 992px) {
    .latest h3 {
        font-size: 0.95rem;
    } 
    #news {
        width: 970px;

        .card .card-image {
            overflow: hidden;
            object-fit: cover;
            flex-basis: 263px;
            img:hover {
                opacity: .75;
                transform: scale(1.1);
            }
            img {
                transition: all .25s;
            }
        }
    }
    .latest {
        width: 970px;
    }
}
@media (min-width: 1260px) {
    .latest h3 {
        font-size: 1rem;
    } 
    #news {
        width: 1200px;
        .card {
            flex-basis: calc(33% - 15px);
            .card-image {
                flex-basis: 214px;
            }
        }
        > :last-child {
            display: flex;
        }
    }
    .latest {
        width: 1200px;
    }
}