.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.service-icon {
    color: white;
    font-weight: 400;
    font-size: 1rem;
    background-color: #67809f;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}