$header-height: 168px;
$base-padding: 5.5px 15px;

// ===========================================
// ================== Colors =================
// ===========================================
$colors: (
    "primary": white,
    "secondary": "#333645",
    "red": red
);

