// ===========================================
// ================== Colors =================
// ===========================================
$secondary: #333645;

$services: (
    "software": #67809f,
    "support": #4183d7,
    "marketing":#2ecc71,
    "telecoms":#d64541,
    "design":#926fb1,
    "security":#f62459,
    "training":#926fb1
);

$socials: (
    "facebook": #3b5998,
    "twitter": #00aced,
    "instagram": #d93175,
    "linkedin": #0077b5
);